button {
	text-align:center;
}
td {
	text-align:center;
}
td.payCell {
	padding: 5px;
}
button.large { 
	width:100px; 
	height:100px;
}
button.small { 
	width:75px; 
	height:75px;
}
button.wide { 
	width:200px; 
	height:50px;
}
button.round { 
	width:150px; 
	height:150px;
	border-radius:150px;
	background: url(../images/Spin.png);
	background-size: 150px 150px
}