@font-face {
	font-family: Ultra;
	src: url(Ultra.ttf);
}
@font-face {
	font-family: LED;
	src: url(LED.ttf);
}
button {
	text-align:center;
}
td {
	text-align:center;
}
td.payCell {
	padding: 5px;
	text-align:center;
}
button.large { 
	width:100px; 
	height:100px;
}
button.small { 
	width:75px; 
	height:75px;
}
button.wide { 
	width:200px; 
	height:50px;
}
button.round { 
	width:125px; 
	height:125px;
	border-radius:125px;
	background: url(../images/Spin.png);
	background-size: 125px 125px
}
.ledLabel {
	font-family: Ultra;
	font-size: 14pt;
}
.ledDispl {
	font-family: LED;
	font-size: 14pt;
	color:red;
	background:#3f0000;
}
.top {
	border-top:1px solid black;
}
.bottom {
	border-bottom:1px solid black;
}
.left {
	border-left:1px solid black;
}
.right {
	border-right:1px solid black;
}
.ledTicker {
	font-family: LED;
	font-size: 14pt;
	color:#ff7f00;
	background:#3f1f00;
	border-collapse:collapse;
}
.reel {
	background: #bfbfbf;
	border-style: solid;
	border-width: 3px;
	border-color: black;
}
.wheel {
	background: #ffffff;
	border-style: solid;
	border-width: 3px;
	border-color: black;
}
