@font-face {
	font-family: Ultra;
	src: url(Ultra.ttf);
}
@font-face {
	font-family: LED;
	src: url(LED.ttf);
}
button {
	text-align:center;
}
td {
	text-align:center;
}
td.payCell {
	padding: 5px;
	text-align:center;
}
button.large { 
	width:100px; 
	height:100px;
}
button.small { 
	width:75px; 
	height:75px;
}
button.wide { 
	width:200px; 
	height:50px;
}
button.round { 
	width:125px; 
	height:125px;
	border-radius:125px;
	background: url(../images/Spin.png);
	background-size: 125px 125px
}
.ledLabel {
	font-family: Ultra;
	font-size: 14pt;
}
.ledDispl {
	font-family: LED;
	font-size: 14pt;
	color:red;
}
